# Environment variables for the Auth Service

## Database configuration

AUTH_DB_URL=postgresql+asyncpg://postgres:password@localhost/auth_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=auth_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

## Authentication settings
SECRET=5fc468266551e43ac0106c00239d0c7c3c6d803de40a4f7bfb1417f7bb2e70d8
ALGORITHM=HS256
RESET_PASSWORD_TOKEN_SECRET=c7ea8902581615d32b6e8d24c92549bb82cc391a32adbd33026c2c204cd7951a
VERIFICATION_TOKEN_SECRET=9f4b3e3daaa523b608619bf20e4118c2ce412433a397983f8