# Environment variables for the Auth Service

## Database configuration

AUTH_DB_URL=postgresql+asyncpg://postgres:password@localhost/auth_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=auth_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432